.dashboard-mid-container {
    
    
    padding-left:  5%;
    padding-right:  5%;
}

#dashH1{
    text-align: center;
}

#wrapper {
    width: 100%;
}

#dashIcons{
    font-size: 50px;
}

.dashChart{
    text-align: center;
}

.huge {
    font-size: 40px;
}
.dashPanel{
    padding-top:5px;

}

.panel-body{
    padding-bottom: 0px;
}
.panel-time{
	 border-color: #0F4A6B;
    color: #fff;
    background-color: #0F4A6B;
}

.panel-chat{
	 border-color: #60839b;
    color: #fff;
    background-color: #60839b;
}
.panel-video{
	 border-color: #256784;
    color: #fff;
    background-color: #256784;
}

