/*************PAGE*************/
/*****************************/
#global-notifications-container{
  /*position:fixed;
  top:20%;*/
  left:17.5%;
  width:65%;
  height:70%;
  overflow-y:auto;
  text-align:center;
}
