
form{
  width:100%;
}

form div{
  width:70%;
  margin:auto;
}

label{
  display:inline-block;
  float:left;
  width:5em;
  margin:auto;
  margin-top:1em;
}

input{
  display:inline-block;
  margin-top:1em;
}

button{
  width:100%;x
  margin-top:1em;
}

span{
  display:block;
  text-align:center;
  font-size:1.5em;
  font-weight:400;
}
