body{
  height:100%;
  position:relative;
  font-family:sans-serif;
  background-color:rgba(91, 91, 91, 0.67);
  color:#4d4d4d;
  text-align:center; /*centers children*/
}

.content{
  width:1000px;
  height:100vh;
  margin:-10px auto;
  background-color:#ffffff;
}

.banner{
  width:inherit;
  height:175px;
  background:url('../resources/images/sentinel_web_banner_5.png');
}

#login-module{
  width:350px;
  height:180px;
  margin:0 auto;
  margin-top:5%;
  border:solid #294873;
  border-radius:5px;
}

label.title{
  display:block;
  margin:10px auto;
  text-align:center;
  font-weight:bold;
  font-size:1.6em;
}

label.login{
  width:90px;
  display:inline-block;
  margin:10px 0 0 0;
  font-size:1em;
  font-weight:bold;
}

input.login{
  width:180px;
  font-family:sans-serif;
  font-size:1em;
  color:#4d4d4d;
}

#login-submit{
  width:100px;
  height:30px;
  margin-top:15px;
  background-color:#294873;
  border:none;
  border-radius:5px;
  font-family:sans-serif;
  font-size:1.1em;
  font-weight:bold;
  color:#ffffff;
}

#login-submit:hover,
#login-submit:focus{
  background-color:#142539;
}

/*
*===================
*ERROR STYLES
*===================
*/

input.error{
  background-color:#f8b8b8;
}

#error-dialog{
  display:inline-block;
  padding:10px;
  margin:10px auto;
  border:2px solid red;
  border-radius:5px;
  text-align:center;
  color:red;
}
