
.most-wanted-mid-container{
  position:fixed;
  top:15%;
  left:17.5%;
  width:65%;
  height:80%;
  overflow-y:auto;
  text-align:center;
}

.most-wanted-item{

    /* background-color: lightgrey; */
    border-radius:0;
    border: 5px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffffff;
}
.most-wanted-ranking-number{
    text-align: left;
    font-size: xx-large;
}

.wanted-list {
    list-style: none;
}

.done-editing-btn {
    flaot: left;
}


.wanted-card {
    background-color: #fff;
    border: 3px solid #ddd;
    margin: 2% auto;
    padding: 10px 0px 5px 15px;
}

.wanted-card img {
    cursor: default;
}

.wanted-card div {
    text-align: left;
}

.wanted-card em {
    font-weight: bold;
    font-style: normal;
}

.wanted-card.edit-btn {
    margin-left: 30px;
}