#tip-chat {
    margin: 50px auto 0;
    width: 90%;
    height: 100%;
}

#active-tip-chats {
    height: 80%;
    border: 1px solid #ecf0f1;
    padding: 0;
    overflow-y: auto;
}

#active-tip-chats #active-chat-list {
    margin:0;
    text-indent: 0;
}

#tip-chat-form {
    height: 75%;
}

#tip-chat-log {
    height:76%;
    width:100%;
    resize:none;
    overflow-y: auto;
    background-color: #ecf0f1;
}

#tip-chat-inner-form {
    width: 100%;
}

.active-chat-item {
    list-style-type: none;
    width: 100%;
    padding-top: 5%;
    background-color: #285e8e;
    color: #ffffff;
    text-align: center;
    margin: 2% auto;
    padding-bottom: 5%;
    cursor: pointer;
}

.message {
    position: relative;
    width: 50%;
    background-color: #bdc3c7;
    float: left;
    padding: 2px 1%;
    margin: 1% 2%;
    color: #333;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #7f8c8d;
}

.message div p {
    clear: both;
}

.sent {
    float: right;
    background-color: #3498db;
    border: 1px solid #2980b9;
    color: #fff;
}

.message em {
    font-weight: bold;
}

#message-box {
    width:90%;
    height: 35px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}


.send {
    width: 10%;
    float: left;
    height: 35px;
    border: 1px solid #2980b9;
    background: #3498db;
}

.message-heading {
    float: right;
    text-align: right;
}


.chat-message {
    word-wrap: break-word;
    word-break: break-all;
}

#chat-bottom {
    display: block;
}

.active-chat-item em {
    font-style: normal;
    font-weight: 500;
}

.active-chat-item h5 {
    margin: 5px 0 10px;
}

.new-room {
    list-style-type: none;
    width: 100%;
    padding-top: 5%;
    color: #ffffff;
    text-align: center;
    margin: 2% auto;
    padding-bottom: 5%;
    cursor: pointer;
    background-color: #096d9f;
}