#video-streams-container{
  margin-top:3%;
  height:582px;
  width:1136px;
  border:solid 0.2em #4d4d4d;
}

#video-streams-queue{
  display:inline-block;
  float:left;
  height:100%;
  width:226.4px;
  border-right:solid 0.2em #4d4d4d;
}
.video-streams-queue-list{
  height:inherit;
  overflow:auto;
  list-style-type:none;
  padding:0;
}
.video-streams-queue-list-item{
  display:block;
  width:100%;
  height:10%;
  border-bottom:solid 0.1em #4d4d4d;
}

.list-item-button{
  width:100%;
  height:100%;
  background-color:#219fe9;
  color:white;
  text-align:center;
  font-weight:500;
  border:none;
}
.list-item-button:hover,
.list-item-button:focus{
  background-color:#1a7fba;
}

#video-streams-video-container{
  display:inline-block;
  float:left;
  height:402.6px;
  width:593px;
  border-right:solid 0.2em #4d4d4d;
  border-bottom:solid 0.2em #4d4d4d;
}
#video-streams-video{
  /*display:inline-block;
  float:left;*/
  display:block;
  height:400.6px;
  width:591px;
  /*border-right:solid 0.2em #4d4d4d;
  border-bottom:solid 0.2em #4d4d4d;*/
}

#video-streams-chat{
  display:inline-block;
  float:left;
  height:175.4px;
  width:593px;
  border-right:solid 0.2em #4d4d4d;
}
#video-streams-chat-log{
  height:140px;
  width:inherit;
  resize:none;
  border-bottom:solid 0.1em #4d4d4d;
}

#video-streams-map{
  display:inline-block;
  height:50%;
  width:311.3px;
  border-bottom:solid 0.2em #4d4d4d;
}

#video-streams-info-container{
  display:inline-block;
  height:50%;
  width:311.3px;
  text-align:center;
  background-color:#fff;
  font-size:2em;
}
#video-streams-info{
  display:block;
  margin-top:25%;
}

#video-streams-chat-log {
  overflow-y: auto;
  background-color: #ecf0f1;
  border-right: solid #000 1px;
}

#video-streams-chat-log div {
  position: relative;
  width: 50%;
  background-color: #bdc3c7;
  float: left;
  padding: 2px 1%;
  margin: 1% 2%;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #7f8c8d;
}

#video-streams-chat-log div p {
  clear: both;
}

#video-streams-chat-log div.sent {
  float: right;
  background-color: #3498db;
  border: 1px solid #2980b9;
}

#video-streams-chat-log em {
  font-weight: bold;
}

#message-box {
  width:90%;
  height: 35px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}


.send {
  width: 10%;
  float: left;
  height: 35px;
  border: 1px solid #2980b9;
  background: #3498db;
}

.message-heading {
  float: right;
  text-align: right;
}
