<form name="messageForm" novalidate>
    <div class="chat">
        <div class="chat-log">
            <div ng-repeat="message in messages()"
                 ng-class="{sent: message.fromMe}"
                 id="{{message.dateTime}}"
                 class="message">
                <span class="message-heading"><em>{{message.from}}</em> at {{message.dateTime | date:'short'}}</span>

                <p class="chat-message">
                    - {{message.message}}
                </p>
            </div>
            <a id="chat-bottom"></a>
        </div>

        <div class="chat-controls">
            <input name="message" ng-model="messageText"
                   type="text" minlength="1"
                   id="message-box"
                   placeholder="Enter message here..."
                   required />
            <button type="submit" ng-click="messageForm.$valid && sendMessage()"
                    class="send">Send
            </button>
        </div>
    </div>
</form>