<div ng-controller="DataAnalysisController as analysisCtrl">

	<!-- WARNING: Be carefull while changing this html. Controller uses the $scope to access the charts. -->
	<div class="data-analysis-mid-container">

		<!-- CHARTS -->
	    <div id="chart_div" class="data-analysis-mid-container" ng-show='!analysisCtrl.loading'>

	    	<!-- YEAR SELECTOR -->
	        <label class="">Year</label>
	        <select class="custom-selector" ng-model="analysisCtrl.yearInSelector">
	          <option value="{{analysisCtrl.currentYear}}">{{analysisCtrl.currentYear}}</option>
	          <option value="{{year}}" ng-repeat="year in analysisCtrl.previousAvailableYears">{{year}}</option>
	        </select>
	        <button class="btn btn-primary" ng-click="analysisCtrl.selectYear(analysisCtrl.yearInSelector)">Select Year</button>
	        <br><br>
	        <span style="font-weight: bold;">{{analysisCtrl.selectedMonth? analysisCtrl.selectedMonth+', '+analysisCtrl.selectedYear: 'Year: ' + analysisCtrl.selectedYear}}</span>

	        <!-- NUM OF TIPS vs DATE Chart-->
			<div google-chart chart="analysisCtrl.tipsDateChart" style="height: 350px; width: 100%; xmenposition: relative;" class="ng-scope ng-isolate-scope"></div>
			<button class="btn btn-primary" ng-click="" ng-csv="analysisCtrl.tipsDateChart.dataArray" csv-header="analysisCtrl.selectedMonth? analysisCtrl.dateChartCsvHeader: analysisCtrl.monthChartCsvHeader" filename="dateChartData.csv">Export CSV</button>

			<!-- NUM OF TIPS vs CRIME TYPE Chart-->
			<div google-chart chart="analysisCtrl.tipsTypeChart" style="height: 350px; width: 100%; xmenposition: relative;" class="ng-scope ng-isolate-scope"></div>
			<button class="btn btn-primary" ng-click="" ng-csv="analysisCtrl.tipsTypeChart.dataArray" csv-header="analysisCtrl.typeChartCsvHeader" filename="typeChartData.csv">Export CSV</button>

		</div>

		<!--======SPINNER (LOADING)======-->
		<span ng-if='analysisCtrl.loading' us-spinner="{radius:30, width:15, length: 0, color: '#219ef9'}" spinner-key="analizing-data-spinner" spinner-start-active="1"></span>
		<div class="container data-analysis-vertical-center" ng-if='analysisCtrl.loading'>
			<h2 class="text-center col-xs-offset-4 col-xs-4">Analizing Data</h2>
		</div>

	</div>
</div>
