<div ng-controller="DrawerController as drawer" ng-if="$parent.currentUser">

  <div style="height:10%;">
    <!--DUMMY ELEMENT.MATCHES DRAWER & HEADER HEIGHT-->
  </div>

  <ul class="drawer" ng-class="{'closed-drawer':!drawer.isOn, 'opened-drawer':drawer.isOn}">

    <li class="drawer-item" ng-repeat="item in drawer.entries" ng-class="{'bright-blue':drawer.getCurrentState()===item.name}">

      <form action="{{item.state}}">

        <button type="submit" class="transparent-button">

          <span class="{{item.icon}} item-icon"></span>

          <span class="item-name" ng-show="drawer.isOn">{{item.name}}</span>

        </button>

      </form>

    </li>

  </ul>

  <!--====TIP COUNTER THAT WILL KEEP TAB ON HOW MANY TIPS HAVE ARRIVED SERVER SIDE======>


  <div class="tip-counter" ng-show="item.icon==='fa fa-inbox'">
    {{drawer.count}}
  </div>


  <!--================================================================================-->

</div>
