<div ng-controller="DrawerController as drawer" ng-if="$parent.currentUser">

  <div style="height:10%;">
    <!--DUMMY ELEMENT.MATCHES DRAWER & HEADER HEIGHT-->
  </div>

  <ul class="drawer" ng-class="{'closed-drawer':!drawer.isOn, 'opened-drawer':drawer.isOn}">

    <li ng-class="{'bright-blue':drawer.current===item.name}" class="drawer-item" ng-repeat="item in drawer.entries">

      <a ui-sref="{{item.state}}" ng-click="drawer.current=item.name">

          <span class="{{item.icon}} item-icon" ng-class="{'center-icon':!drawer.isOn}">

            <!--====TIP COUNTER THAT WILL KEEP TAB ON HOW MANY TIPS HAVE ARRIVED SERVER SIDE======>


              <div class="tip-counter" ng-show="item.icon==='fa fa-inbox'">
                {{drawer.count}}
              </div>


            <!--================================================================================-->

          </span>

          <span class="item-name" ng-show="drawer.isOn">{{item.name}}</span>

      </a>

    </li>

  </ul>

</div>
