<div class="jumbotron vertical-center" ng-controller="GlobalNotificationController as globalNotifCtrl">
  <div class="container">

    <h3 class="text-center">Send A Notification</h3>
    <form class="form-horizontal" role="form">

      <div class="form-group">
        <label class="sr-only"></label>
        <div class="col-md-6 col-md-offset-3">
          <input type="text" class="form-control text-center" id="global-notification-title" placeholder="Title"/>
        </div>
      </div>

      <div class="form-group">
        <label class="sr-only"></label>
        <div class="col-md-6 col-md-offset-3">
          <textarea style="resize:none" class="form-control" rows="4" id="global-notification-body" placeholder="Message"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <div class="btn btn-primary btn-block white" accept="image/*,video/*,audio/*" ng-class="{'file-selected': globalNotifCtrl.file.name}" ng-file-select="globalNotifCtrl.onFileSelect($files)">
            {{ globalNotifCtrl.file.name || 'Attach a File'}}
          </div>
        </div>
      </div>

      <!-- <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-info">

            <div class="panel-heading">
              <label class="checkbox-inline text-center">
                <input type="checkbox" ng-model="check" value="region1">
              </label>
            </div>

            <ul ng-show="check" class="list-group">

            </ul>

          </div>
        </div>

      </div> -->

      <div class="form-group">
        <div class="col-md-3 col-md-offset-5">
          <button type="submit" class="btn btn-success" ng-click="globalNotifCtrl.submitNotification()">Submit Notification</button>
        </div>
      </div>

    </form>
  </div>
</div>
