<div ng-controller="LoginController as loginCtrl">

  <span id="login-dialog-title">Login</span>

  <form class="login-dialog-form" ng-submit="loginCtrl.login()">

      <div class="login-dialog-input-container">

        <label class="login-dialog-label">User ID</label>
        <input type="text" id="login-dialog-username" ng-model="loginCtrl.credentials.username"/>

        <br>

        <label class="login-dialog-label">Password</label>
        <input type="password" id="login-dialog-password" ng-model="loginCtrl.credentials.password"/>

        <br>

      </div>

      <button type="submit" id="login-dialog-submit">
        <span ng-hide="loginCtrl.submitting">Send</span>
        <div class="spinner" ng-show="loginCtrl.submitting">
          <div class="bounce1 charcoal-spinner"></div>
          <div class="bounce2 charcoal-spinner"></div>
          <div class="bounce3 charcoal-spinner"></div>
        </div>
      </button>

  </form>

</div>
