<div ng-controller="LoginController as loginCtrl">

  <span id="login-dialog-title">{{loginCtrl.resetPasswordAvailable? 'Login': 'Reset Password'}}</span><br>

  <form class="form-horizontal" role="form">

      <div ng-if="loginCtrl.resetPasswordAvailable">

        <div class="form-group">
          <label for="login-username" class="col-sm-3 control-label">User ID</label>
          <div class="col-sm-7">
            <input id="login-username" type="text" class="form-control" ng-model="loginCtrl.credentials.userId" placeholder="User ID"/>
          </div>
        </div>
        <div class="form-group">
          <label for="login-password" class="col-sm-3 control-label">Password</label>
          <div class="col-sm-7">
            <input id="login-password" type="password" class="form-control" type="password" ng-model="loginCtrl.credentials.password" placeholder="Password"/>
          </div>
          <div class="col-sm-offset-3">
            <label class="col-sm-offset-1 col-sm-6 control-label pointer login-reset-pass-label" ng-click="loginCtrl.showResetPasswordForm()">
            {{loginCtrl.resetPasswordMessage}}
            </label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary col-md-offset-4 col-md-4" ng-click="loginCtrl.login()">
            <span ng-hide="loginCtrl.submitting">Sign in</span>
            <div class="spinner" ng-show="loginCtrl.submitting">
              <div class="bounce1 charcoal-spinner"></div>
              <div class="bounce2 charcoal-spinner"></div>
              <div class="bounce3 charcoal-spinner"></div>
            </div>
          </button>
        </div>

      </div>

      <div ng-if="!loginCtrl.resetPasswordAvailable">

        <div class="form-group" ng-if="!loginCtrl.resetPasswordAvailable">
          <label class="col-sm-3 control-label">Email</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" ng-model="loginCtrl.credentials.email" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-danger col-md-offset-2 col-md-3" ng-click="loginCtrl.cancelResetPassword()">
            <span>Cancel</span>
          </button>
          <button type="submit" class="btn btn-primary col-md-offset-2 col-md-3" ng-click="loginCtrl.resetPassword()">
            <span ng-hide="loginCtrl.submitting">Reset</span>
            <div class="spinner" ng-show="loginCtrl.submitting">
              <div class="bounce1 charcoal-spinner"></div>
              <div class="bounce2 charcoal-spinner"></div>
              <div class="bounce3 charcoal-spinner"></div>
            </div>
          </button>
        </div>

      </div>

  </form>

</div>
