<div class="map-container" ng-controller="PoliceStationsMapController as mapCtrl">
  <div class="map-canvas">

    <script type="text/ng-template" id="searchbox.tpl.html">
       <input class="form-control map-searchbox" type="text" placeholder="Search">
    </script>

    <!-- Cannot put a whitespace between script and button. -->
    <script type="text/ng-template" id="control.tpl.html"><button type="submit" class="btn btn-primary" ng-click="buttonCtrl.newStationMarker()" ng-disabled="buttonCtrl.isAdding()" style="margin-top:5px; margin-left:5px">Add Police Station</button>
    </script>

    <!-- Cannot put a whitespace between script and button. -->
    <script type="text/ng-template" id="control3.tpl.html"><button type="submit" class="btn btn-danger" ng-click="buttonCtrl.cancel()" ng-disabled="!buttonCtrl.isAdding()" style="margin-top:5px; margin-left:5px">Cancel</button>
    </script>

    <!-- Cannot put a whitespace between script and button. -->
    <script type="text/ng-template" id="control2.tpl.html"><button type="submit" class="btn btn-primary" ng-click="buttonCtrl.showFormDialog()" ng-disabled="!buttonCtrl.isAdding()" style="margin-top:5px; margin-left:5px;">Select Location</button>
    </script>

    <ui-gmap-google-map center="mapCtrl.map.center" zoom="mapCtrl.map.zoom" draggable="true">

        <!-- Searchbox -->
        <ui-gmap-search-box template="mapCtrl.searchbox.template" position="mapCtrl.searchbox.position" events="mapCtrl.searchbox.events"></ui-gmap-search-box>

        <ui-gmap-map-control template="control.tpl.html" position="top-right" index="1" controller="AddStationController as buttonCtrl"></ui-gmap-map-control>
        <ui-gmap-map-control template="control2.tpl.html" position="top-right" index="2" controller="AddStationController as buttonCtrl"></ui-gmap-map-control>
        <ui-gmap-map-control template="control3.tpl.html" position="top-right" index="3" controller="AddStationController as buttonCtrl"></ui-gmap-map-control>

        <ui-gmap-markers ng-if="!mapCtrl.redrawMarkers()" models="mapCtrl.policeStationsMarkers" coords="'self'" icon="'icon'" click="'onClick'" options="'options'">

          <ui-gmap-windows show="show">
            <div>
              <div ng-non-bindable style="text-align: left;">
                Station Name: {{name}}<br>
                Address: {{address}}<br>
                Email: {{email}}<br>
                Phone: {{phone}}<br>
                Description: {{description}}<br>
              </div>
              <div ng-controller='AddStationController as buttonCtrl'>
                <button type="submit" ng-click="buttonCtrl.editStation(model.id)" style="width: 100%;margin-left: 8px;margin-top:8px; margin-bottom:5px;">Edit</button>
              </div>
            </div>
          </ui-gmap-windows>

        </ui-gmap-markers>
    </ui-gmap-google-map>

    <div ng-show="mapCtrl.isAdding()" style="display:block;z-index:100;position:absolute;top:5px;left:40%;width:20%;background:white;">
        <label>Drag the blue marker to the desired location and click on "Select Location"</label>
    </div>

  </div>

</div>
