<form class="form-horizontal most-wanted-item" ng-controller="MostWantedController as mostWantedCtrl" role="form" class="editor">

  <div class="col-md-3 most-wanted-ranking-number">{{index + 1}}</div>

  <div class="col-md-2 no-padding pointer" accept="image/*" ng-file-select="fileSelect({files: $files, index: index})">
    <a class="thumbnail no-margin no-border">
      <img class="profile" ng-src="{{criminal.photoUrl || criminal.photo.url || './resources/images/no-profile-pic.png'}}" alt="...">
    </a>
  </div>

  <div class="form-group">

    <br>
    <br>
    <br>
    <label for="name" class="col-md-1 control-label">{{mostWantedCtrl.lang.wantedName}}</label>

    <div class="col-md-3">
      <input type="text" class="form-control" placeholder={{mostWantedCtrl.lang.wantedName}} ng-model="criminal.name" ng-change="change({index:index})">
    </div>
    <br>
    <br>
    <br>
    <label for="alias" class="col-md-1 control-label">Alias</label>

    <div class="col-md-3">
      <input class="form-control" placeholder="Alias" ng-model="criminal.alias" ng-change="change({index:index})">
    </div>
  </div>

  <div class="form-group">
    <label for="birthdate" class="col-md-3 control-label">{{mostWantedCtrl.lang.wantedBirthdate}}</label>

    <div class="col-md-2">
      <input class="form-control" placeholder={{mostWantedCtrl.lang.wantedBirthdate}} ng-model="criminal.birthdate" ng-change="change({index:index})">
    </div>
    <label for="age" class="col-md-2 control-label">{{mostWantedCtrl.lang.wantedAge}}</label>

    <div class="col-md-2">
      <input class="form-control" placeholder={{mostWantedCtrl.lang.wantedAge}} ng-model="criminal.age" ng-change="change({index:index})">
    </div>
  </div>

  <div class="form-group">
    <label for="eyeColor" class="col-md-3 control-label">{{mostWantedCtrl.lang.wantedEye}}</label>

    <div class="col-md-2">
      <input class="form-control" placeholder={{mostWantedCtrl.lang.wantedEye}} ng-model="criminal.eyeColor" ng-change="change({index:index})">
    </div>
    <label for="hairColor" class="col-md-2 control-label">{{mostWantedCtrl.lang.wantedHair}}</label>

    <div class="col-md-2">
      <input class="form-control" placeholder={{mostWantedCtrl.lang.wantedHair}} ng-model="criminal.hairColor" ng-change="change({index:index})">
    </div>
  </div>

  <div class="form-group">
    <label for="height" class="col-md-3 control-label">{{mostWantedCtrl.lang.wantedHeight}}</label>

    <div class="col-md-2">
      <input class="form-control" placeholder={{mostWantedCtrl.lang.wantedHeight}} ng-model="criminal.height" ng-change="change({index:index})">
    </div>
    <label for="weight" class="col-md-2 control-label">{{mostWantedCtrl.lang.wantedWeight}}</label>

    <div class="col-md-2">
      <input class="form-control" placeholder={{mostWantedCtrl.lang.wantedWeight}} ng-model="criminal.weight" ng-change="change({index:index})">
    </div>
  </div>

  <div class="form-group">
    <label for="race" class="col-md-3 control-label">{{mostWantedCtrl.lang.wantedRace}}</label>

    <div class="col-md-2">
      <input class="form-control" placeholder="{{mostWantedCtrl.lang.wantedCharacteristics}} "ng-model="criminal.race" ng-change="change({index:index})">
    </div>
    <label for="characteristics" class="col-md-2 control-label">{{mostWantedCtrl.lang.wantedCharacteristics}}</label>

    <div class="col-md-2">
      <input class="form-control" placeholder={{mostWantedCtrl.lang.wantedCharacteristics}} ng-model="criminal.characteristics" ng-change="change({index:index})">
    </div>
  </div>

  <div class="form-group">
    <label for="summary" class="col-md-3 control-label">{{mostWantedCtrl.lang.wantedSummary}}</label>

    <div class="col-md-6">
      <textarea style="resize:none" class="form-control" rows="4" id="global-notification-body" placeholder="Message" ng-model="criminal.summary" ng-change="change({index:index})"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class=" col-md-offset-4 col-md-2">
      <div class="btn btn-success done-editing-btn" ng-click="save({index:index}); toggleEditing()" ng-disabled="!editedPeopleIndices[index]">
        <span class="glyphicon glyphicon-ok"></span>
        {{mostWantedCtrl.lang.wantedFinish}}
      </div>
    </div>
    <div class="col-md-1">
      <button type="submit" class="btn btn-danger" ng-click="confirm({index: index}); toggleEditing()" ng-disabled="disableNewButton
                    && index === (wantedArray.length-1)" ng-hide="justCreated">
        {{mostWantedCtrl.lang.wantedWdelete}}
      </button>
      <button class="btn btn-danger" type="submit" ng-click="discard()" ng-show="justCreated">
        {{mostWantedCtrl.lang.Discard}}
      </button>
    </div>
  </div>

  <!-- <div class="form-group col-md-12 dark-gray-bg"> </div> -->

</form>
