<div class="jumbotron vertical-center" ng-controller="MostWantedController as mostWantedCtrl">
  <div class="most-wanted-mid-container">
  <div class="container">

        <form class="form-horizontal most-wanted-item" role="form" ng-repeat="wantedPerson in mostWantedCtrl.wantedArray track by $index">

          <div class="col-md-3 most-wanted-ranking-number">
            {{$index + 1}}
          </div>

          <div class="col-md-2 no-padding pointer" accept="image/*" ng-file-select="mostWantedCtrl.onFileSelect($files, $index)">
            <a class="thumbnail no-margin no-border">
              <img ng-src="{{wantedPerson.attributes.photoUrl || wantedPerson.attributes.photo._url || './resources/images/no-profile-pic.png'}}" alt="...">
            </a>
          </div>

          <div class="form-group">
            <br><br><br>
            <label for="name" class="col-md-1 control-label">Name</label>
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Name" ng-model="wantedPerson.attributes.name" ng-change="mostWantedCtrl.onChange($index)">
            </div>
            <br><br><br>
            <label for="alias" class="col-md-1 control-label">Alias</label>
            <div class="col-md-3">
              <input class="form-control" placeholder="Alias" ng-model="wantedPerson.attributes.alias"  ng-change="mostWantedCtrl.onChange($index)">
            </div>
          </div>

          <div class="form-group">
            <label for="birthdate" class="col-md-3 control-label">Birthdate</label>
            <div class="col-md-2">
              <input class="form-control" placeholder="Birthdate" ng-model="wantedPerson.attributes.birthdate"  ng-change="mostWantedCtrl.onChange($index)">
            </div>
            <label for="age" class="col-md-2 control-label">Age</label>
            <div class="col-md-2">
              <input class="form-control" placeholder="Age" ng-model="wantedPerson.attributes.age" ng-change="mostWantedCtrl.onChange($index)">
            </div>
          </div>

          <div class="form-group">
            <label for="eyeColor" class="col-md-3 control-label">Eye Color</label>
            <div class="col-md-2">
              <input class="form-control" placeholder="Eye Color" ng-model="wantedPerson.attributes.eyeColor" ng-change="mostWantedCtrl.onChange($index)">
            </div>
            <label for="hairColor" class="col-md-2 control-label">Hair Color</label>
            <div class="col-md-2">
              <input class="form-control" placeholder="Hair Color" ng-model="wantedPerson.attributes.hairColor" ng-change="mostWantedCtrl.onChange($index)">
            </div>
          </div>

          <div class="form-group">
            <label for="height" class="col-md-3 control-label">Height</label>
            <div class="col-md-2">
              <input class="form-control" placeholder="Height" ng-model="wantedPerson.attributes.height" ng-change="mostWantedCtrl.onChange($index)">
            </div>
            <label for="weight" class="col-md-2 control-label">Weight</label>
            <div class="col-md-2">
              <input class="form-control" placeholder="Weight" ng-model="wantedPerson.attributes.weight" ng-change="mostWantedCtrl.onChange($index)">
            </div>
          </div>

          <div class="form-group">
            <label for="race" class="col-md-3 control-label">Race</label>
            <div class="col-md-2">
              <input class="form-control" placeholder="Race" ng-model="wantedPerson.attributes.race" ng-change="mostWantedCtrl.onChange($index)">
            </div>
            <label for="characteristics" class="col-md-2 control-label">Characteristics</label>
            <div class="col-md-2">
              <input class="form-control" placeholder="Characteristics" ng-model="wantedPerson.attributes.characteristics" ng-change="mostWantedCtrl.onChange($index)">
            </div>
          </div>

          <div class="form-group">
            <label for="summary" class="col-md-3 control-label">Summary</label>
            <div class="col-md-6">
              <textarea style="resize:none" class="form-control" rows="4" id="global-notification-body" placeholder="Message" ng-model="wantedPerson.attributes.summary" ng-change="mostWantedCtrl.onChange($index)"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class=" col-md-offset-5 col-md-1">
              <button type="submit" class="btn btn-primary" ng-click="mostWantedCtrl.save($index)" ng-disabled="!mostWantedCtrl.editedPeopleIndices[$index]">Save</button>
            </div>
            <div class="col-md-1">
              <button type="submit" class="btn btn-danger" ng-click="mostWantedCtrl.showConfirmDialog($index)" ng-disabled="mostWantedCtrl.disableNewButton && $index === (mostWantedCtrl.wantedArray.length-1)">Delete</button>
            </div>
          </div>

          <!-- <div class="form-group col-md-12 dark-gray-bg"> </div> -->

        </form>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn btn-primary" ng-click="mostWantedCtrl.add()" ng-disabled="mostWantedCtrl.disableNewButton">Add Most Wanted</button>
          </div>
        </div>
      <!-- </li>

    </ul> -->
    </div>
  </div>

<!--Show if NO most wanted are available-->
  <div class="container" ng-if="mostWantedCtrl.wantedArray.length===0">
    <h2 class="text-center">No Records Found</h2>
  </div>

</div>
