<div class="notification-dialog" ng-controller="NotificationController as notificationCtrl">

  <div class="dialog-title">
    Contact <span>{{notificationCtrl.name}}</span>
  </div>

    <h3 class="text-center"  ng-class="{'green':!notificationCtrl.hasError, 'red':notificationCtrl.hasError}" ng-show="!notificationCtrl.sending">{{notificationCtrl.successMessage}}</h3>
    <br>

  <form id="notification-form">

    <div class="dialog-body">

      <input id="notification-title" type="text"
      ng-init="notificationCtrl.title = 'Regarding tip #'+notificationCtrl.controlNumber"
      ng-model="notificationCtrl.title"
      />

      <textarea id="notification-message" placeholder="Message to user" ng-model="notificationCtrl.message"></textarea>
    </div>

<!--
    <div class="dialog-attachment" accept="image/*,video/*,audio/*"
    ng-class="{'file-selected': notificationCtrl.file.name}"
    ng-file-select="notificationCtrl.onFileSelect($files)"
    >
-->
    <input type="file" ng-model="notificationCtrl.file" base-sixty-four-input>
<!--
    {{notificationCtrl.file.filename || "Attach an image, video, or audio file"}}
    </div>
-->

    <button id="notification-submit" type="submit" ng-click="notificationCtrl.submitNotification()">
      <span ng-hide="notificationCtrl.sending">Send</span>
      <div class="spinner" ng-show="notificationCtrl.sending">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </button>

  </form>

</div>
