<div class="notification-dialog" ng-controller="NotificationController as notificationCtrl">

  <div class="dialog-title">
    Contact <span>{{notificationCtrl.name}}</span>
  </div>

  <form id="notification-form">

    <div class="dialog-body">

      <input id="notification-title" type="text"
      ng-init="notificationCtrl.title = 'Regarding tip #'+notificationCtrl.controlNumber"
      ng-model="notificationCtrl.title"
      />

      <textarea id="notification-message" placeholder="Message to user" ng-model="notificationCtrl.message"></textarea>
    </div>

    <div class="dialog-attachment" accept="image/*,video/*,audio/*"
    ng-class="{'file-selected': notificationCtrl.file.name}"
    ng-file-select="notificationCtrl.onFileSelect($files)"
    >
    {{notificationCtrl.file.name || "Attach an image, video, or audio file"}}
    </div>

    <button id="notification-submit" type="submit" ng-click="notificationCtrl.submitNotification()">Send</button>

  </form>

</div>
