<div class="vertical-center" ng-controller="RegionalNotificationController as regionalNotifCtrl">

  <!--Show regions are available-->
  <div class="container" ng-if="regionalNotifCtrl.regions.length!==0">

    <h3 class="text-center">Send A Notification</h3>

    <h3 class="text-center"  ng-class="{'green':!regionalNotifCtrl.hasError, 'red':regionalNotifCtrl.hasError}" ng-show="!regionalNotifCtrl.sending">{{regionalNotifCtrl.successMessage}}</h3>
    <br>

    <form class="form-horizontal" role="form">

      <div class="form-group">
        <label class="sr-only"></label>
        <div class="col-md-6 col-md-offset-3">
          <input type="text" class="form-control text-center" id="regional-notification-title" ng-model="regionalNotifCtrl.title" placeholder="Title"/>
        </div>
      </div>

      <div class="form-group">
        <label class="sr-only"></label>
        <div class="col-md-6 col-md-offset-3">
          <textarea style="resize:none" class="form-control" rows="4" id="regional-notification-body" ng-model="regionalNotifCtrl.message" placeholder="Message"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
            <div class="btn btn-block white" accept="image/*,video/*,audio/*" ng-class="{'btn-success': regionalNotifCtrl.file.name, 'btn-primary':!regionalNotifCtrl.file.name}" ng-file-select="regionalNotifCtrl.onFileSelect($files)">
            {{ regionalNotifCtrl.file.name || 'Attach a File'}}
          </div>
        </div>
      </div>

      <div class="col-md-6 col-md-offset-3">
        <ul class="list-group region-list">
          <li class="list-group-item pointer"
           ng-click="regionalNotifCtrl.allRegions = !regionalNotifCtrl.allRegions"
           ng-class="{'list-group-item-success': regionalNotifCtrl.allRegions, 'list-group-item-danger':!regionalNotifCtrl.allRegions}"
          >
           <h4 class="text-center">{{regionalNotifCtrl.allRegions? 'All Regions Selected' : 'Send To All Regions'}}</h4>
          </li>
          <li class="list-group-item" style="cursor:pointer;"
           ng-repeat="region in regionalNotifCtrl.regions"
           ng-click="region.selected = !region.selected"
           ng-class="{'list-group-item-info': regionalNotifCtrl.allRegions || region.selected}"
          >
            <h4 class="text-center">{{region.regionName}}</h4>
          </li>
        </ul>
      </div>


      <div class="form-group">
        <div class="col-md-3 col-md-offset-5">
          <button type="submit" class="btn btn-success" ng-click="regionalNotifCtrl.submitNotification()">
            <span ng-hide="regionalNotifCtrl.sending">Submit Notification</span>
            <div class="spinner" ng-show="regionalNotifCtrl.sending">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </button>
        </div>
      </div>

    </form>
  </div>

  <!--Show if NO regions are available-->
  <div class="container" ng-if="regionalNotifCtrl.regions.length===0">
    <h2 class="text-center">No Regions Have Been Defined</h2>
  </div>

</div>
