<div class="container mid" ng-controller="TipFeedController as tipFeed">


    <h1 class="text-center">
        {{tipFeed.lang.drawerTipFeed}}
    </h1>
    <br>

    <div class="row">
        <div class="tip-counter"
             ng-class="{'disabled-counter':tipFeed.count()===0}"
             ng-click="tipFeed.loadNewTips()">
          <span ng-show="tipFeed.count()>0" class="col-md-12" ng-class="{'active-counter':tipFeed.count()>0}">
            <span style="text-decoration: underline;"
                  class="col-md-12">{{tipFeed.count()}} {{tipFeed.lang.tipFeedNew}}</span>
          </span>
          <span ng-hide="tipFeed.count()>0">
            {{tipFeed.lang.tipFeedNoNew}}
          </span>
        </div>
    </div>

    <div class="row">
        <div class="row-fluid">
            <ul class="nav nav-tabs nav-justified bold">
                <li class="main-menu-list-item" ng-class="tipFeed.getTabClass(0)" ng-click="tipFeed.changeView(0)"><a class="pointer">{{tipFeed.lang.tipFeedAll}}</a></li>
                <li class="main-menu-list-item" ng-class="tipFeed.getTabClass(1)" ng-click="tipFeed.changeView(1)"><a class="pointer">{{tipFeed.lang.tipFeedCrimeReports}}</a></li>
                <li class="main-menu-list-item" ng-class="tipFeed.getTabClass(2)" ng-click="tipFeed.changeView(2)"><a class="pointer">{{tipFeed.lang.tipFeedTip}}</a></li>
            </ul>
        </div>

        <div class="row-fluid admin-panel-main-container">

            <nav class="navbar navbar-default admin-panel-navbar">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a class="dropdown-toggle pointer bold" data-toggle="dropdown" role="button"
                               aria-expanded="false">{{tipFeed.lang.tipfeedCrimeType}}<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(0)">{{tipFeed.lang.tipFeedAll}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(1)">{{tipFeed.lang.tipFeedAssault}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(2)">{{tipFeed.lang.tipFeedChildAbuse}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(3)">{{tipFeed.lang.tipFeedElderlyAbuse}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(4)">{{tipFeed.lang.tipFeedDomesticViolence}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(5)">{{tipFeed.lang.tipFeedDrugs}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(6)">{{tipFeed.lang.tipFeedHomicide}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(7)">{{tipFeed.lang.tipFeedAnimalAbuse}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(8)">{{tipFeed.lang.tipFeedRobbery}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(9)">{{tipFeed.lang.tipFeedSexOffenses}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(10)">{{tipFeed.lang.tipFeedBullying}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(11)">{{tipFeed.lang.tipFeedPoliceMisconduct}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(12)">{{tipFeed.lang.tipFeedBribery}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(13)">{{tipFeed.lang.tipFeedVehicleTheft}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(14)">{{tipFeed.lang.tipFeedVandalism}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(15)">{{tipFeed.lang.tipFeedAutoAccident}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(16)">{{tipFeed.lang.tipFeedCivilRights}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(17)">{{tipFeed.lang.tipFeedArson}}</a>
                                </li>
                                <li><a class="pointer" ng-click="tipFeed.setCrimeType(18)">{{tipFeed.lang.tipFeedOther}}</a>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form admin-panel-action-form navbar-left" role="search">
                        <div class="form-group"><span class="bold">{{tipFeed.lang.tipfeedSubmitted}}</span>
                            <input class="form-control" type="date" placeholder="Submited At"
                                   ng-model="tipFeed.registrationDate"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder={{tipFeed.lang.tipFeedNamePlaceholder}}
                                   ng-model="tipFeed.searchString"/>
                        </div>
                        <button type="submit" class="btn btn-default btn-primary"
                                ng-click="tipFeed.getPage(tipFeed.currentPageNum)">{{tipFeed.lang.tipfeedFilter}}
                        </button>
                    </form>
                </div>
                <!-- /.container-fluid -->
            </nav>
            <!-- Tab panes -->
            <div class="tab-content">
                <!--Show if NO video archives are available -->
                <div ng-show="!tipFeed.tipsAvailable">
                    <h2 class="text-center">No Records Found</h2>

                    <h3 class="text-center">Try a different filter or refresh your browser</h3>
                </div>
                <div class="tab-pane user-list" ng-class="tipFeed.showHidePanel()">
                    <div class="paginationText bold" ng-show="tipFeed.tipsAvailable">
                        <p>{{tipFeed.lang.tipFeedPage}} {{tipFeed.currentPageNum}} {{tipFeed.lang.tipFeedOf}}
                            {{tipFeed.lastPageNum}}
                        </p>

                        <p>{{tipFeed.lang.tipFeedShowing}} {{tipFeed.skip + 1}} - {{tipFeed.skip + 10 >
                            tipFeed.totalTips ? tipFeed.totalTips :
                            tipFeed.skip + 10}} {{tipFeed.lang.tipFeedOf}} {{tipFeed.totalTips}}
                            {{tipFeed.lang.tipFeedTips}}</p>
                    </div>

                    <!--======SPINNER (LOADING)======-->
                    <span us-spinner="{radius:30, width:15, length: 0, color: '#219ef9'}"
                          spinner-key="loading-tips-spinner" spinner-start-active="1"></span>

                    <h3 class="text-center" ng-class="{'green':!tipFeed.hasError, 'red':tipFeed.hasError}">
                        {{tipFeed.successMessage}}</h3>
                    <br>
                    <table class="table" ng-show="tipFeed.tipsAvailable">
                        <thead>
                        <tr>
                            <th>{{tipFeed.lang.tipFeedControlNumber}}</th>
                            <th>{{tipFeed.lang.tipFeeduser}}</th>
                            <th>{{tipFeed.lang.tipFeedCrimeType}}</th>
                            <th>{{tipFeed.lang.tipFeedSubmitted}}</th>
                            <th>{{tipFeed.lang.tipFeedReadBy}}</th>
                            <th>{{tipFeed.lang.tipFeedReadOn}}</th>
                            <th>{{tipFeed.lang.tipFeedAction}}</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="tip in tipFeed.tips" class="pointer tips-color"
                            ng-class="{'unread-filter':tip.readBy== null}">
                            <td ng-click="tipFeed.showTip(tip)">{{tip.objectId + "-" + tip.controlNumber}}</td>
                            <td ng-click="tipFeed.showTip(tip)">{{tip.user.username || 'anonymous'}}</td>
                            <td ng-click="tipFeed.showTip(tip)">{{tip.crimeType || 'not set'}}</td>
                            <td ng-click="tipFeed.showTip(tip)">{{tip.createdAt}} {{tip.time}}</td>
                            <td ng-click="tipFeed.showTip(tip)">{{tip.readBy ? tip.readBy[tip.readBy.length -
                                1].username : "unread"}}
                            </td>
                            <td ng-click="tipFeed.showTip(tip)">{{tip.readBy[tip.readBy.length - 1].date |
                                date:"" +
                                ""}}
                            </td>
                            <td>
                                <a id="videoAtt" ng-class="{'disabled-link': !tip.attachmentVideo.url}"
                                   ng-click="tipFeed.showAttachmentDialog(tip, 'VID')">
                                    <img src="./resources/images/videoAtt.png" class="img-circle"
                                         ng-class="{'orange-bg':tip.anonymous, 'light-blue-bg':!tip.anonymous}"
                                         width="25"/>
                                </a>
                                <a id="imageAtt" ng-class="{'disabled-link': !tip.attachmentPhoto.url}"
                                   ng-click="tipFeed.showAttachmentDialog(tip, 'IMG')">
                                    <img src="./resources/images/imageAtt.png" class="img-circle"
                                         ng-class="{'orange-bg':tip.anonymous, 'light-blue-bg':!tip.anonymous}"
                                         width="25"/>
                                </a>
                                <a id="audioAtt" ng-class="{'disabled-link': !tip.attachmentAudio.url}"
                                   ng-click="tipFeed.showAttachmentDialog(tip, 'AUDIO')">
                                    <img src="./resources/images/audioAtt.png" class="img-circle"
                                         ng-class="{'orange-bg':tip.anonymous, 'light-blue-bg':!tip.anonymous}"
                                         width="25"/>
                                </a>
                                <!--<a id="audioAtt" ng-class="{'disabled-link': !tip.attachmentAudio.url}" ng-click="tipFeed.showAttachmentDialog(tip, 'AUDIO')">-->
                                <!--<img src="./resources/images/audioAtt.png" class="img-circle" ng-class="{'orange-bg':tip.anonymous, 'light-blue-bg':!tip.anonymous}" width="25" />-->
                                <!--</a>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--=====PAGINATOR======-->
                    <!--====================-->
                    <div ng-if="tipFeed.tipsAvailable" class="admin-panel-paginator-container">
                        <ul id="paginator">

                            <li class="paginator-control" ng-click="tipFeed.updateTipFeedState(1)">
                                <span class="fa fa-chevron-left fa-lg"
                                      ng-class="{'disabled-link': tipFeed.currentPageNum===1}"></span>
                                <span class="fa fa-chevron-left fa-lg "
                                      ng-class="{'disabled-link': tipFeed.currentPageNum===1}"></span>
                            </li>

                            <li id="page-previous" class="paginator-control"
                                ng-class="{'disabled-link': tipFeed.currentPageNum===1}"
                                ng-click="tipFeed.updateTipFeedState(tipFeed.currentPageNum - 1)">
                                <span class="fa fa-chevron-left fa-lg"></span>
                            </li>


                            <li class="paginator-control" ng-repeat="pageNumber in tipFeed.pageNumbers"
                                ng-class="{'light-blue': tipFeed.currentPageNum === pageNumber}"
                                ng-click="tipFeed.updateTipFeedState(pageNumber)">
                                {{pageNumber}}
                            </li>


                            <li id="page-next" class="paginator-control"
                                ng-class="{'disabled-link': tipFeed.currentPageNum === tipFeed.lastPageNum}"
                                ng-click="tipFeed.updateTipFeedState(tipFeed.currentPageNum + 1)">
                                <span class="fa fa-chevron-right fa-lg"></span>
                            </li>

                            <li class="paginator-control" ng-click="tipFeed.updateTipFeedState(tipFeed.lastPageNum)">
                                <span class="fa fa-chevron-right fa-lg"
                                      ng-class="{'disabled-link': tipFeed.currentPageNum === tipFeed.lastPageNum}"></span>
                                <span class="fa fa-chevron-right fa-lg"
                                      ng-class="{'disabled-link': tipFeed.currentPageNum === tipFeed.lastPageNum}"></span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
