<div class="mid container" ng-controller="VideoStreamsController as videoStreamsCtrl">
  <div id="video-streams-container">

    <div id="video-streams-queue">

      <ul class="video-streams-queue-list">

        <li class="video-streams-queue-list-item" ng-repeat="stream in videoStreamsCtrl.queue track by $index">
          <button class="list-item-button" ng-click="videoStreamsCtrl.activateStream(stream)">
            {{stream.firstName+" "+stream.lastName}}
          </button>
        </li>

      </ul>

    </div>

    <div id="video-streams-video-container">
      <div id="video-streams-video">

      </div>
    </div>

    <div id="video-streams-chat">
      <div id="video-streams-chat-log">

      </div>

      <form id="video-streams-chat-controls">

      </form>
    </div>

    <div id="video-streams-map" ng-controller="GoogleMapController as mapCtrl">
      <google-map center="mapCtrl.getMapCenter({latitude:videoStreamsCtrl.currentStream.latitude, longitude:videoStreamsCtrl.currentStream.longitude})" zoom="mapCtrl.zoom" draggable="true" ng-if="videoStreamsCtrl.currentStream" ng-cloak>
        <marker coords="mapCtrl.getMarkerPosition({latitude:videoStreamsCtrl.currentStream.latitude, longitude:videoStreamsCtrl.currentStream.longitude})"></marker>
      </google-map>
    </div>

    <div id="video-streams-info">
      {{videoStreamsCtrl.currentStream.firstName+" "+videoStreamsCtrl.currentStream.lastName}}<br>
      {{videoStreamsCtrl.currentStream.email}}<br>
      {{videoStreamsCtrl.currentStream.phone}}
    </div>

  </div>
</div>
