<div class="container" ng-controller="VideoStreamsController as videoStreamsCtrl">

    <div id="video-streams-container" ng-if="videoStreamsCtrl.queue.length!=0">

        <div id="video-streams-queue">

            <ul class="video-streams-queue-list">

                <li class="video-streams-queue-list-item"
                    ng-repeat="stream in videoStreamsCtrl.queue track by $index">
                    <button class="list-item-button"
                            ng-click="videoStreamsCtrl.activateStream(stream);joinChat(stream.connectionId, stream.userObjectId)">
                        {{stream.firstName+" "+stream.lastName}}
                    </button>
                </li>

            </ul>

        </div>

        <div id="video-streams-video-container">
            <div id="video-streams-video">

            </div>
        </div>

        <!-- This is experimental-->
        <sh-chatterbox chat-id="videoStreamsController.currentStream.connectionId"
                       mobile-user-id="videoStreamsController.currentStream.userObjectId">
        </sh-chatterbox>
        <!-- End experiment -->

        <div id="video-streams-map" ng-controller="GoogleMapController as mapCtrl">
            <ui-gmap-google-map
                    center="mapCtrl.getMapCenter({latitude:videoStreamsCtrl.currentStream.latitude, longitude:videoStreamsCtrl.currentStream.longitude})"
                    zoom="mapCtrl.zoom" draggable="true" ng-if="videoStreamsCtrl.currentStream" ng-cloak>
                <ui-gmap-marker idKey="videoStreamsCtrl.currentStream.connectionId"
                                coords="mapCtrl.getMarkerPosition({latitude:videoStreamsCtrl.currentStream.latitude, longitude:videoStreamsCtrl.currentStream.longitude})"></ui-gmap-marker>
            </ui-gmap-google-map>
        </div>

        <div id="video-streams-info-container">
            <div id="video-streams-info">
                {{videoStreamsCtrl.currentStream.firstName+" "+videoStreamsCtrl.currentStream.lastName}}<br>
                {{videoStreamsCtrl.currentStream.email}}<br>
                {{videoStreamsCtrl.currentStream.phone}}<br>
            </div>
            <button type="submit" class="btn btn-success"
                    ng-click="videoStreamsCtrl.stopStream(); leaveChat()"
                    ng-disabled="videoStreamsCtrl.hello">Stop Video Stream
            </button>
        </div>

    </div>

    <div class="container vertical-center" ng-if="videoStreamsCtrl.queue.length===0">
        <h2 class="text-center" style="width: 100%;">No Video Streams Available</h2>
    </div>
</div>
